{% block content %}
	{% if posts %}
		{% for post in posts %}
			<h1>*** {{ post.post_title }}</h1>
			<div style="height:1px; overflow:hidden;">{{ post.content }}</div>
			<div style="height:1px; overflow:hidden;">{{ post.excerpt }}</div>
		{% endfor %}
	{% endif %}
{% endblock %}


